.Register{
    height: 100vh;
    position: fixed;
    width: 100vw;
    background-image: url(https://r4.wallpaperflare.com/wallpaper/393/986/567/fitness-computer-desktop-backgrounds-wallpaper-fb12a7e923d721f22542e19f5298e688.jpg);
}
.login{
    height: 90vh;
    width: 40vw;
    margin-top: 20px;
    margin-left: 20px;
    background-color:lightblue;
    position: fixed;
    border-radius: 30px;
}
.logins{ 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:x-large;
    font-weight: bolder;
   
    width: 80px;
    position: absolute;
    left: 230px;
    top: 100px;

}
.inputs{
  
    margin-top: 200px;
    width: 500px;
}
.input{
    width: 70%;
    height: 40px;
    margin-left: 70px;

}
.button{
    background-color: black;
    color: white;
    width: 70%;
    height: 40px;
    margin-left: 70px;
}
.already{
    margin-left: 300px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 20px;
}